* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.text {
    color: #fff;
    text-align: center;
    display: none;
}

.menu-btn {
    /* border: 2px solid #fff; */
}

.upper-bar,
.lower-bar {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 50px;
    /* margin: 10px; */
}

/* Change the transform rotate value */
.upper-bar {
    margin-bottom: 10px;
    transform: rotate(45deg);
    transform-origin: 10% 40%;   /* not change */
}

.lower-bar {
    transform: rotate(-40deg);
    transform-origin: 38% 200%;
}